canary_test_frontend/*
generated_views/*
static/assets/img/backgrounds/*
static/assets/img/fanarts/*
static/assets/img/blog/*
static/assets/img/fortnite/shop/*
static/assets/img/profiles/backgrounds/*
static/assets/img/profiles/actions
static/assets/img/profiles/actions/*