{% extends 'configure_guild_base.html' %}
{% block rightSidebarContents %}
<div class="category-name">
Fortnite
</div>
<div style="text-align: center;">
    <img src="https://loritta.website/assets/img/fanarts/Loritta_4_-_Sortros.png" style="border-radius: 7px; height: 300px;">
{# <h2>Sistema de Level Up</h2> #}
<p>{{ modules_fortnite_description }}</p>
<div id="requiresPermission" class="entry-error flavourText" style="color: #f04747;"></div>
</div>
<hr>
<div>
<div id="fortnite-stuff"></div>
<button id="save-button" style="float: right;" class="button-discord button-discord-success pure-button">{{ DASHBOARD_SAVE }}</button>
<br style="clear: both" /> <!-- So dirty! -->
</div>
{% endblock %}