{% extends 'base.html' %}
{% block wrapper %}
<div class="oddWrapper">
teste
</div>
{% endblock %}
{% block leftColumn %}
<div class="content">
<div class="smTitleBar">
{{ WEBSITE_ABOUT }}
</div>
<div class="insideContent">
<div style="width: 100%; max-width: 100%;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Loritta Teste -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="6236021665"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div>
<img src="{{ websiteUrl }}assets/img/loritta_tophalf.png" alt="Foto da Loritta" style="float: left;" width="358"></img>
{{ WEBSITE_INTRO | raw }}
<div style="text-align: center;">
<h1 class="headerLine">Porque VOCÊ deveria me adicionar?</h1>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
		<img id="money" src="{{ websiteUrl }}assets/img/loritta_real.png"></img>
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Grátis</h2>
		<p>Você não precisa pagar nada para poder me adicionar no seu servidor. Sim, absolutamente nada, você não terá que gastar nenhum centavo para poder me ter em seu servidor! E, é claro, atualmente todas as funções também são grátis. (e eu prometo nunca remover uma função que eu já tenho para transformar ela em paga 🙋)</p><p>E sabe qual é a melhor parte de tudo isto? Se você não gostar de mim você pode me remover do seu servidor sem você ter precisado gastar nada! Ou seja, você não irá perder nada se você me adicionar! A vida é muito curta para ficar filosofando se algo vale a pena ou não. 🙂</p>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Variedade e Qualidade</h2>
		<p>Qual seria a graça de ter um bot com apenas 10 comandos? Ou que simplesmente possui funções que 1000 outros bots possuem? Eu sou diferente, seguindo um simples pensamento de "Variedade e Qualidade: Tudo que outro bot faz eu também irei fazer, só que de uma maneira maior, melhor e mais criativa".</p><p>Atualmente eu possuo mais de 100 comandos diferentes, variando de categorias como comandos administrativos, comandos utilitários, comandos para diversão, comandos "Photoshop", comandos relacionados com games e muito mais! E é claro, também existem as funções fora do contexto de comandos: Sistema de sincronização de Feeds RSS/Atom, mensagens quando alguém entra/sai do servidor, autorole, event/action log, avisar novos vídeos de um YouTuber, sincronização de posts do Amino, starboard e muito mais!</p>
	</div>
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://via.placeholder.com/256x256"></img>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://via.placeholder.com/256x256"></img>
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Customização</h2>
		<p>Tá, parece ser muito legal ter "Variedade e Qualidade"... mas e se você não quiser todos estes comandos no seu servidor? Sem problemas! Todas as funções da Loritta podem ser desativadas na hora que você quiser, quando você quiser.</p><p>Você só quer que o comando <span>vieirinha</span> esteja ativado no seu servidor porque o Vieirinha é 🔝? Quer alterar o meu prefixo porque outro bot já usa <span>+</span>? Você simplesmente quer me deixar no seu servidor como um peso de papel? Tudo isto e muito mais você pode configurar e customizar no meu painel!</p>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Entretenimento</h2>
		<p>Vamos ser sinceros, qual é a graça de ter um bot no servidor que nem consegue tirar um pequeno sorriso do seu rosto? 🤷</p><p>Por isto eu possuo vários comandos diferentes e engraçados para você se divertir e ter gargalhadas com eles! Como o <span>avaliarwaifu</span>, que dá nota a sua waifu; <span>faustão</span>, que invoca o nosso querido Faustão no seu servidor para relembrar as clássicas frases dele; <span>ship</span>, que permite shippar dois usuários do seu servidor; <span>cepo</span>, para destruir alguém no estilo Gugu Gaiteiro; <span>tretanews</span>, para você criar um vídeo "não clickbait"™ com membros do seu servidor e vários outros comandos divertidos e engraçados!</p>
	</div>
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://via.placeholder.com/256x256"></img>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://i.imgur.com/C9idIUF.png"></img>
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Música</h2>
		<p>As vezes você e sua gangue desejam ouvir o novo batidão do MC Hariel... ou talvez desejam ouvir aquele Despacito maroto... ou até mesmo aquela música clássica para relaxar a mente... Mas não se preocupe, pois eu também sou uma DJ!</p><p>Configure canais de voz, restringa músicas muito grandes, crie canais de texto para anunciar as músicas que eu estou tocando, crie uma playlist automática para ficar tocando quando ninguém estiver tocando nada e muito mais!</p>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Social</h2>
		<p>Eu e você somos seres humanos (bem, eu espero que você seja né) e, como qualquer outra pessoa neste planeta, gostamos de se socializar (afinal, se você não gostasse, você nem estaria mexendo no Discord 😋) e, por isto, eu possuo algumas coisinhas relacionadas com coisas sociais!</p><p>Mostre o seu perfil para outros usuários, customize o papel de parede do seu perfil, dê reputação para outros usuários para mostrar como essa pessoa é incrível, ganhe experiência e níveis falando em outros servidores, veja o rank do seu servidor e muito mais!</p>
	</div>
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="{{ websiteUrl }}assets/img/mini_bg.png"></img>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://via.placeholder.com/256x256"></img>
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Administração</h2>
		<p>Se o mundo fosse perfeito, todos os usuários do seu servidor seriam felizes e respeitariam as regras do seu servidor... infelizmente não é assim que o mundo funciona. 😢</p><p>Para conseguir bloquear crianças de 10 anos tentando virar o seu servidor de cabeça para baixo eu possuo várias funções para administradores! Limpe mensagens, silencie usuários, taca-lê martelo do ban em usuários que nem estão no seu servidor e muito mais!</p>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Comunidade</h2>
		<p>Você sabe o que pessoas que gostam bastante de algo fazem? Elas começam a conversar mais e mais, unidas por um denominador comum.</p><p>E é claro que existe o Fã Clube da Loritta... que por algum motivo resolveram montar esse fã clube bem no meu apartamento... Quem teve a ideia de criar isto justamente no meu apartamento? As vezes gosto de ficar sozinha, sabia?</p><p>Brincadeiras a parte, todos são bem-vindos no meu servidor no Discord! Se você quiser falar sobre mim, falar sobre bugs que devem ser corrigidos, sugestões incríveis e maravilhosas para mim ou até mesmo falar como foi o seu dia então você veio ao lugar certo!</p><p><a href="https://discord.gg/3rXgN8x"><img src="https://discordapp.com/api/guilds/297732013006389252/embed.png?style=banner2&t=0"></img></a><p>
	</div>
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://via.placeholder.com/256x256"></img>
	</div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
		<img src="https://via.placeholder.com/256x256"></img>
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<h2 style="font-family:Oswald;">Faça Você Mesmo™</h2>
		<p>Eu não tenho uma função que você queria que eu tivesse? Você queria criar comandos mais complexos que apenas uma mensagenzinha quando alguém escreve o comando? Não se preocupe, eu tenho a solução perfeita para você!</p><p>Eu possuo uma API para que você mesmo possa criar seus próprios comandos em JavaScript! Desde comandos que mandam apenas uma mensagenzinha ao escrever a até comandos de dar cargos ao usar, o céu é o limite! (e, é claro, a API do Discord 😋)</p>
	</div>
</div>
<h2 style="font-family:Oswald;">Feito por um Brasileiro, para Brasileiros</h2>
<p>Seja sincero: Fale um bot brasileiro que possue várias funções únicas e que fique online 24/7.</p>
<p>Se você precisar pensar por mais de 15 segundos, então você já deve ter entendido o motivo de eu existir:</p>
<h3>Faltam bots brasileiros diferentes/únicos/legais para o Discord.</h3>
<p>Nós não precisamos de 20 bots brasileiros diferentes que só sabem responder um comando de ping, nós precisamos de bots únicos, coisas que jamais foram vistas em outros bots.</p>
<p>Você pode até falar "ah mas coisas feitos por brasileiros são sempre um lixo"... Errado, porque eu sou a prova viva que quebra esse pensamento. 😉 (E se você é brasileiro: Você percebeu que você é algo feito por dois brasileiros? Ou seja, quer dizer que você é um lixo? 🤔)</p>
<p>Você pode até argumentar "ah, mas a Tatsumaki (ou qualquer outro bot) tem tradução para português" mas existe uma grande diferença entre "tradução" e "feito por um brasileiro". A Tatsumaki é um bot incrível e diferente, mas o grupo foco dela não são brasileiros... afinal, ela nunca iria ter um comando que cria vídeos do <span>tretanews</span>, não é mesmo?</p>
<p>Outra vantagem disto é que (provavelmente) você é brasileiro também, ou seja, fica mais fácil para você poder fazer sugestões ou até mesmo reportar bugs!</p>
<hr>
<h2 style="font-family:Oswald;">Como adicionar a Loritta no seu Servidor</h2>
Faça login clicando <a href="https://loritta.website/auth">aqui</a>, depois escolha o servidor que você deseja adicionar ela!
<img alt="Banner de Divulgação da Loritta" src="{{ websiteUrl }}assets/img/loritta_banner.png"></img>
</div>
</div>
</div>
</div>
{% endblock %}
{% block rightColumn %}
{% include "widgets.html" %}
{% endblock %}