{% extends 'base.html' %}
{% block subtitle %}
Loritta's Server List
{% endblock %}
{% block metaproperty %}
<meta property="og:site_name" content="Loritta">
<meta property="og:description" content="Está com tédio e quer encontrar um servidor no Discord para você entrar e se divertir? Querendo divulgar o seu novo servidor no Discord para que outras pessoas possam entrar? Então você chegou ao lugar certo!">
<meta property="og:title" content="Loritta's Server List">
<meta property="og:image" content="http://loritta.website/assets/img/loritta_mendigagem_cover.png">
<meta property="og:ttl" content="600">
<meta property="og:image:width" content="320">
<meta property="twitter:site" content="loritta">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="Loritta's Server List">
<meta name="twitter:card" content="summary_large_image">
<meta name="theme-color" content="#00c1df"> 
{% endblock %}
{% block header %}
{% endblock %}
{% block wrapper %}
<div style="height: 49.95px"></div>
<div class="serverListHeader" style="background: url('https://loritta.website/assets/img/servers_v2.png') no-repeat center center;
background-size: cover;
background-repeat: repeat-y;
height: 240px;">
<div class="server-list-logo" style="position: relative; display: inline-block;">
<div class="text" style="font-size: 7.5em; color: #00d7ff; text-shadow: 0px 0.05em 0px #00b4d5;">Loritta's</div>
<div class="splash-text">Server List (beta!)</div>
</div>
</div>
<div id="listWrapper">
<div class="oddWrapper">
<div class="contentWrapper">
<!-- Loritta Server List -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5712054310"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Loritta Server List -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5712054310"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="vertically-centered-content">
<div class="pure-g vertically-centered-content" style="text-align: left;">
    <div class="pure-u-1 pure-u-md-1-4">
		<img class="animate-on-scroll-left is-invisible" src="https://loritta.website/assets/img/loritta_mendigagem.png" alt="Asking people to join your server" style="width: 100%;">
	</div>
    <div class="pure-u-1 pure-u-md-3-4">
		<div class="sectionText">
		<h2 class="sectionHeader">
	Discord Server List
		</h2>
<p>Está com tédio e quer encontrar um servidor no Discord para você entrar e se divertir? Querendo divulgar o seu novo servidor no Discord para que outras pessoas possam entrar? Então você chegou ao lugar certo!</p>
<p>Bem-Vindo(a) a Loritta's Server List! Criado com o propósito de divulgar outros servidores no Discord para que ajude os dois lados: Para os membros que querem encontrar novos servidores; e para os donos de servidores que querem expandir o seu servidor no Discord!</p>
<p>Se você não é familiar com o Discord, visite o <a href="https://discordapp.com/">website dele</a> antes de começar a buscar servidores!</p>
<p>Se você quer adicionar o seu servidor na lista, <a href="https://loritta.website/dashboard">me adicione</a> no seu servidor, vá na configuração do seu servidor no meu painel e clique em "Loritta's Server List"!</p>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper" style="text-align: center; width: 80%;">
<!-- Loritta Server List 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5892807704"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h2 class="sectionHeader">
<i class="far fa-star"></i> Servidores Patrocinados
</h2>
<div class="sponsored-servers-sample pure-g"></div>
{# <span class="button-discord button-discord-info pure-button" style="transition: 0.3s; font-size: 1.1em;"><i class="fas fa-list-ul"></i> Ver servidores patrocinados</span> #}
</div>
</div>
<div class="oddWrapper">
<div class="contentWrapper" style="text-align: center; width: 80%;">
<!-- Loritta Server List 3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="9065765954"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h2 class="sectionHeader">
<i class="far fa-heart"></i> Loritta Partners
</h2>
<div class="partners-servers-sample pure-g"></div>
{# <span class="button-discord button-discord-info pure-button" style="transition: 0.3s; font-size: 1.1em;"><i class="fas fa-list-ul"></i> Ver servidores parceiros</span> #}
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper" style="text-align: center; width: 80%;">
<!-- Loritta Server List 4 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="7299945062"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-2">
<div style="border-right: solid 1px rgba(0,0,0,.05);">
<h2 class="sectionHeader">
<i class="far fa-thumbs-up"></i> Melhores Servidores Deste Mês
</h2>
<div class="all-servers-sample"></div>
<span class="button-discord button-discord-info pure-button view-more-servers" style="transition: 0.3s; font-size: 1.1em;"><i class="fas fa-list-ul"></i> Ver mais servidores</span>
</div>
</div>
<div class="pure-u-1 pure-u-md-1-2">
<div style="border-left: solid 1px rgba(0,0,0,.05);">
<h2 class="sectionHeader">
<i class="fas fa-angle-double-up"></i> Recentemente promovidos
</h2>
<div class="recently-bumped-servers-sample"></div>
<span class="button-discord button-discord-info pure-button view-more-recently-bumped-servers" style="transition: 0.3s; font-size: 1.1em;"><i class="fas fa-list-ul"></i> Ver mais servidores</span>
</div>
</div>
</div>
</div>
</div>
<div class="evenWrapper">
<div class="contentWrapper" style="text-align: center; width: 80%;">
<h2 class="sectionHeader">
<i class="fas fa-random"></i> Servidores Aleatórios
</h2>
<div class="random-servers-sample pure-g"></div>
</div>
</div>
<a onclick="this["loritta-parent-spicy-morenitta"].testError()">don't click here</a>
</div>
<div class="totallyHidden">
{% include 'entities/server-sample.html' %}
{% include 'entities/guild-template.html' %}
<div id="self-profile-json">{{ selfProfile|raw }}</div>
<div id="server-samples-json">{{ serverSamples|raw }}</div>
</div>
{% endblock %}
{% block afterScripts %}
<script>
function recaptchaCallback(response) {
	console.log("passing to kotlin js...");
	this["loritta-parent-spicy-morenitta"].PartnerView.recaptchaCallback(response);
}

onViewport(".animate-on-scroll-left", "animated fadeInLeft", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".animate-on-scroll-right", "animated fadeInRight", 0, function(el) {
  el.removeClass("is-invisible");
});

onViewport(".fanclub-server-icon", "animated fadeInUp", 0, function(el) {
  el.removeClass("is-invisible");
});
</script>
{% endblock %}
{% block afterlocale %}
<script>
this["loritta-parent-spicy-morenitta"].LoriServerList.start()
</script>
{% endblock %}