{% extends 'base.html' %}
{% block subtitle %}
Extras
{% endblock %}
{% block afterNavbar %}
<script>
	document.querySelector("#container").style.overflow = "hidden"; // hack porque o chrome gosta de dar overflow
</script>
<div id="dummy-navbar" style="height: 46px"></div>
<div id="server-configuration">
<div id="left-sidebar">
<div class="discord-scroller" id="left-sidebar-contents"> 
    {% block leftSidebar %}
    {% endblock %}
</div>
<div id="right-sidebar">
	<div id="right-sidebar-contents">
    {% block rightSidebarContents %}
    Você jamais deverá conseguir ver isto! Se você estiver vendo essa mensagem... quer dizer que algo deu problema!
	{% endblock %}
	</div>
	<div class="sidebar-ad">
			<div style="position: relative; width: 100%; max-width: 100%;">
			<!-- Loritta Dashboard Sidebar Ad -->
			<ins class="adsbygoogle"
				 style="display:block; position: absolute; width: inherit; max-width: 100%;"
				 data-ad-client="ca-pub-9989170954243288"
				 data-ad-slot="3177212938"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
		</div>
	</div>
	</div>
	</div>
</div>
</div>	
{% endblock %}
