{% extends 'extras.html' %}
{% block subtitle %}
Sobre o Discord
{% endblock %}
{% block rightSidebarContents %}
<div class="category-name">
Sobre o Discord
</div>
<h2>Discord? É de comer?</h2>
<p>Discord é uma plataforma de chat, voltado para comunidades de jogos. Atualmente o Discord está disponível em várias plataformas, como Windows, Mac OSX, Android, iOS, Linux e até mesmo em navegadores web, sendo possível usar o Discord sem precisar baixar nada!</p>
<p>Hoje em dia, o Discord é utilizado como uma alternativa ao TeamSpeak 3 e ao Skype e suporta mais de 25 milhões de usuários!</p>
<hr>
<h2>Nomenclaturas comuns de se usar no Discord</h2>
<table style="width: 100%;" class="fancy-table">
    <thead>
        <tr>
            <th>Nomenclatura</th>
            <th>Significado</th>
        </tr>
		
        <tr>
            <td>Guild</td>
            <td>Servidor</td>
        </tr>
			
        <tr>
            <td>Embed</td>
            <td>Embeds são mensagens que ficam dentro de uma "caixinha" no Discord, sendo possível ter mais customização sobre elas, como alterar a cor lateral, colocar imagens, thumbnails e muito mais! Apenas bots conseguem enviar tais mensagens. (mas é possível enviar como se fosse um usuário, mas isto é contra os termos de uso do Discord e você poderá ser suspenso!)</td>
        </tr>
		
        <tr>
            <td>Discord Nitro</td>
            <td>Ao comprar Nitro, você ajuda o Discord a ficar online e ganha algumas vantagens exclusivas apenas para Nitro, por exemplo: Usar emojis de qualquer servidor em qualquer servidor, usar emojis animados, melhor qualidade ao compartilhar tela e muito mais!</td>
        </tr>
		
        <tr>
            <td>Discord Hypesquad</td>
            <td>Hypesquad é uma equipe de pessoas que tem o objetivo de divulgar o Discord para novas pessoas.</td>
        </tr>
		
        <tr>
            <td>Discord Partner</td>
            <td>Discord possuem parceiros, pessoas famosas fora da plataforma (como YouTubers, streamers, etc) que trabalham para trazer novas pessoas para a plataforma.</td>
        </tr>
		
        <tr>
            <td>ID</td>
            <td>ID é um valor único para algo. No Discord, cada entidade (mensagens, usuários, servidores, etc) possuem um ID, você pode pegar os IDs de tais coisas ativando o "Modo de Desenvolvedor" nas configurações de aparências no Discord.</td>
        </tr>
		
        <tr>
            <td>DM/MD/PV</td>
            <td>"Mensagens diretas", mensagens enviadas diretamente para uma pessoa. (Botão direito -> Mensagem)</td>
        </tr>
		
        <tr>
            <td>Bot</td>
            <td>(Ro)bot, robô. No Discord, "robôs" se chamam "bots".</td>
        </tr>
		
        <tr>
            <td>Bot List</td>
            <td>Lista de bots. Existem várias bot lists online para que você possa ver e encontrar novos bots para o seu servidor!</td>
        </tr>
		
        <tr>
            <td>Bot Collection</td>
            <td>Um servidor que é utilizado apenas para adicionar o máximo número de bots possível. Muitos bots automaticamente saem de tais servidores já que é utilizado muitos recursos para processar um servidor que possui quase nenhum membro.</td>
        </tr>
		
        <tr>
            <td>Shard</td>
            <td>Separar várias instâncias de um determinado aplicativo, para diminuir o uso de recursos e poder separar o aplicativo em várias máquinas para processar mais requests simultâneos. No Discord, todos os bots que estão em mais de 2500 precisam usar shards, cada shard pode controlar, no máximo, 2500 servidores. (se você tem um bot e ele não faz sharding, ele não poderá ser adicionado em mais de 2500 servidores). Uma shard seria como se você abrisse o Discord novamente, só que cada novo "discord aberto" possuísem servidores diferentes.</td>
        </tr>
		
        <tr>
            <td>ToS</td>
            <td>Termos de Uso. No Discord, normalmente é usado para significar os <a href="https://discordapp.com/terms">termos de uso do Discord</a>.</td>
        </tr>
    </thead>
</table>
<hr>
<h2>Aonde posso encontrar outros bots brasileiros para adicionar?</h2>
<p>Felizmente a Loritta é amiga de todos (exceto dos recalcados, 2bj para as inimigas), então, se você está procurando bots feitos em terras tupiniquins, então você veio ao lugar certo!</p>
<p>Nós temos um servidor apenas de bots brasileiros para você ver, testar e adicionar! <a href="https://loritta.website/s/vespertine">Vespertine Developers</a>, o melhor lugar para conversar sobre bots, desenvolver bots, ver outros bots e se divertir!</p>
<p>Outro lugar para você encontrar bots brasileiros é no <a href="https://klist.fun">KList</a>, uma bot list brasileira para adicionar e procurar bots para o Discord!</p>
<p>E aqui vai uma pequena lista de alguns bots que a Loritta recomenda, lembrando que ela não se responsabiliza por qualquer dano que tais bots podem provocar!</p>
<ul>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/emojis/417141753129336833.png?v=1"> <b>Barry:</b> <a href="https://discordbots.org/bot/425357477471846413">https://discordbots.org/bot/425357477471846413</a></li>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/emojis/419875552695025664.png?v=1"> <b>Jerbs:</b> <a href="https://discordapp.com/oauth2/authorize?client_id=354775764404797444&scope=bot&permissions=2145908991">https://discordapp.com/oauth2/authorize?client_id=354775764404797444&scope=bot&permissions=2145908991</a></li>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/emojis/447369042483871744.png?v=1"> <b>Nightly:</b> <a href="http://nightlybot.me/">http://nightlybot.me/</a></li>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/emojis/432058691592781824.png?v=1"> <b>Pollux:</b> <a href="http://pollux.fun/">http://pollux.fun/</a></li>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/attachments/297732013006389252/473511984629940225/download.png"> <b>Switchblade:</b> <a href="https://invite.switchblade.xyz/">https://invite.switchblade.xyz/</a></li>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/emojis/476111363966763018.png?v=1"> <b>Reth:</b> <a href="https://discordbots.org/bot/412181831761526785">https://discordbots.org/bot/412181831761526785</a></li>
<li><img class="inline-emoji" src="https://cdn.discordapp.com/emojis/430179755304943649.png?v=1"> <b>Tyrone:</b> <a href="https://discordbots.org/bot/199921474956427264">https://discordbots.org/bot/199921474956427264</a></li>
</ul>
<hr>
<br style="clear: both" /> <!-- So dirty! -->
{% endblock %}