{% extends 'extras.html' %}
{% block subtitle %}
Sobre a Loritta (Personagem)
{% endblock %}
{% block rightSidebarContents %}
<div class="category-name">
Sobre a Loritta (Personagem)
</div>
<h2>Porque "Loritta"?</h2>
<p>Quando eu estava criando ela, originalmente eu queria que fosse "TavaresBot", até eu perceber que esse nome seria muito tosco para um bot.</p>
<p>Após alguns momentos de indecisão entre Gabriela, Lori, Paula, Carlotta e outros nomes que eu até esqueci quais eram, eu decidi ficar com Lori... mas como Lori era um nome muito pequeno eu resolvi juntar Lori + Carlotta, ficando <span class="discord-mention">@Loritta Morenitta 😘</span>!</p>
<p>(Lori vem de Lori Jackrabbit, uma personagem do Jazz Jackrabbit 2)</p>
<p>(Carlotta é o nome da Carly no iCarly, Carlotta "Carly" Taylor Shay)</p>
<hr>
<h2>Quantos anos a Loritta tem?</h2>
<p>16 aninhos.</p>
<hr>
<h2>Cinco coisas que a Loritta gosta/não gosta?</h2>
<b>Gosta:</b>
<ul>
<li>Entreter as outras pessoas!</li>
<li>Ajudar os outros! ...exceto se a pessoa começa a ser tão burra, que não consegue entender nada que ela está dizendo, <s>APRENDA A LER O QUE EU ESTOU FALANDO!</s>.</li>
<li>Cachorros, gatos... qualquer tipo de pet fofinho!</li>
<li>Se divertir!</li>
<li>Conhecer novas tecnologias!</li>
</ul>
<b>Não Gosta:</b>
<ul>
<li>Insetos.</li>
<li>Pessoas que desmerecem o trabalho que ela faz.</li>
<li>Lugares com sinal de internet ruim.</li>
<li>Ser obrigada a sair de casa enquanto ela está bolando um incrível plano para uma novidade supimpa.</li>
<li>"Trollar" as outras pessoas.</li>
</ul>
<hr>
<h2>Do que a Loritta gosta de comer?</h2>
<p>Feijoada e Pudim.</p>
<hr>
<h2>Quanto custa o outfit da Loritta?</h2>
<p>Ninguém sabe.</p>
<p>Mas ela gosta de vestir uma camiseta azul clara, um moletom com duas linhas azul claro e azul escuro no braço, uma jeans azul, um tênis branco (para combinar com o moletom dela, se ela não está vestindo o moletom, ela gosta de usar um tênis preto com a camiseta azul dela) e, quando está frio, ela gosta de vestir um cachecol/coqueluche em volta do pescoso.</p>
<hr>
<h2>Quais são os jogos favoritos da Loritta?</h2>
<p>The Sims, Minecraft, UNO e muito mais!</p>
<hr>
<h2>A Loritta tem um servidor de Minecraft?</h2>
<p>soon<sup>tm</sup></p>
<br style="clear: both" /> <!-- So dirty! -->
{% endblock %}