{% extends 'extras.html' %}
{% block subtitle %}
Como Adicionar Bots no Discord
{% endblock %}
{% block rightSidebarContents %}
<div class="category-name">
Como Adicionar Bots no Discord
</div>
<div style="text-align: center;">
<h1>Como Adicionar Bots no Discord?</h1>
</div>
<p>Para deixar o seu servidor mais legal e divertido, existem bots (robôs) que você pode adicionar em seu servidor no Discord! Bots podem te ajudar de diversas maneiras em seu servidor: Para entreter os membros do seu servidor, para te ajudar a moderar o servidor e muito mais!</p>
<p>Adicionar bots em seus servidores é simples e fácil, mas, antes de começar, você precisa <a href="https://support.discordapp.com/hc/pt-br/articles/213219267-Reenviando-Email-de-Verifica%C3%A7%C3%A3o">verificar a sua conta do Discord</a>, se a sua conta não for verificada, verifique ela! É necessário verificar a conta antes de adicionar um bot.</p>
<p>Após verificar, vá no <a href="https://discordapp.com/channels/@me">Discord de Navegador</a> e verifique se você está na conta certa, se não estiver, clique em "Configurações do Usuário", clique para "Sair" e entre na conta certa!</p>
<h2>Adicionando o Bot no seu Servidor</h2>
<p>Cada bot tem um jeito diferente de adicioná-lo, por exemplo...</p>
<!-- Loritta Discord Extras -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5245234810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h3>Links para adicionar bots</h3>
<ul>
    <li><b>Loritta:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=297153970613387264&scope=bot+identify+guilds+email+guilds.join&permissions=2080374975&response_type=code&redirect_uri=https://loritta.website/dashboard">Link para adicionar</a></li>
    <li><b>MEE6:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?response_type=code&client_id=159985415099514880&redirect_uri=https%3A%2F%2Fmee6.xyz%2Fapi%2Fdiscord-callback&scope=identify+guilds+email&state=KdLrVIJlNRPVE33mlciySYIy8pXUTY">Link para adicionar</a></li>
    <li><b>Tatsumaki:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?&client_id=172002255350792192&scope=bot&permissions=12659727">Link para adicionar</a></li>
    <li><b>Dyno:</b> <a target="_blank" href="https://www.dynobot.net/invite">Link para adicionar</a></li>
    <li><b>Pokécord:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=365975655608745985&scope=bot&permissions=387072">Link para adicionar</a></li>
    <li><b>FredBoat:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?&client_id=184405253028970496&scope=bot+identify&redirect_uri=https://fredboat.com/callback/music&response_type=code">Link para adicionar</a></li>
    <li><b>Rythm:</b> <a target="_blank" href="https://rythmbot.co/invite">Link para adicionar</a></li>
    <li><b>GiveawayBot:</b> <a target="_blank" href="https://giveawaybot.party/invite">Link para adicionar</a></li>
    <li><b>Vexera:</b> <a target="_blank" href="https://vexera.io/invite">Link para adicionar</a></li>
    <li><b>Invite Manager:</b> <a target="_blank" href="https://invitemanager.co/add-bot/">Link para adicionar</a></li>
    <li><b>Dank Memer:</b> <a target="_blank" href="https://goo.gl/HL3zBi">Link para adicionar</a></li>
    <li><b>UnbelievaBoat:</b> <a target="_blank" href=" https://unbelievable.pizza/invite">Link para adicionar</a></li>
    <li><b>Ayana:</b> <a target="_blank" href="https://ayana.io/invite">Link para adicionar</a></li>
    <li><b>Mantaro:</b> <a target="_blank" href="http://add.mantaro.site/">Link para adicionar</a></li>
    <li><b>KawaiiBot:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=195244341038546948&scope=bot">Link para adicionar</a></li>
    <li><b>Pollux:</b> <a target="_blank" href="http://goo.gl/qkGqqU">Link para adicionar</a></li>
    <li><b>Mudae:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=432610292342587392&permissions=537159744&scope=bot">Link para adicionar</a></li>
    <li><b>Reth:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=412181831761526785&scope=bot&permissions=2080374975">Link para adicionar</a></li>
    <li><b>Chino Kafuu:</b> <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=481282441294905344&scope=bot&permissions=2117578239">Link para adicionar</a></li>
</ul>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5245234810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h3>Mas... o bot que eu quero adicionar não está na lista!</h3>
<p>Se o bot que você deseja adicionar não esteja na lista...</p>
<h4>Procurando na Internet</h4>
<p>Tente procurar no Google por <i>"*nome do bot que você deseja adicionar* invite"</i>, se o bot possui um website oficial, lá terá o link para adicionar o bot em seu servidor!</p>
<p>Você também pode tentar procurar no <a href="https://discordbots.org/">Discord Bot List</a>.</p>
<h3>Adicionando o Bot</h3>
<p>No nosso exemplo, eu irei usar a <a href="https://loritta.website/">Loritta</a> (eu! ;w;), mas todos os outros bots seguem praticamente o mesmo exemplo.</p>
<p>Ao clicar no link para adicionar o bot...</p>
<img src="{{ websiteUrl}}assets/img/extras/add-bot-modal.png">
<h4>Escolhendo o Servidor</h4>
<p>No "Add a bot to a server", você irá escolher qual servidor você irá adicionar o bot.</p>
<img src="{{ websiteUrl}}assets/img/extras/add-bot-to-a-server.png">
<h5>O servidor que eu quero adicionar não está aparecendo!</h4>
<p>Se o servidor que você quer adicionar o bot não aparece, verifique se você possui permissão de <i>Administrador</i> ou para <i>Gerenciar o Servidor</i> no servidor desejado.</p>
<p>Caso você tenha, veja se você está na conta certa no <a href="https://discordapp.com/channels/@me">Discord de Navegador</a>! Se mesmo assim não aparece, <a href="https://support.discordapp.com/hc/pt-br/articles/213219267-Reenviando-Email-de-Verifica%C3%A7%C3%A3o">verifique a sua conta do Discord</a>!</p>
<h4>Escolhendo as Permissões</h4>
<p>No "Allow the following permissions", escolha as permissões que o bot terá, <b>Se você está adicionando um bot que você não confia muito, não dê todas as permissões!</b>, lembre-se, bots podem destruir o seu servidor, então verifique cada bot com cautela antes de adicionar eles!</p>
<h4>Finalizando</h4>
<p>Após terminar, clique em "Authorize", se tudo der certo, o bot será adicionado no servidor!</p>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5245234810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h3>Configurando Bots</h3>
<p>Agora você adicionou um bot no seu servidor, e agora?</p>
<p>Cada bot possui um jeito de configurar diferente, existem bots que você configura pelo website deles (e você é automaticamente redirecionado ao adicionar), outros são por comandos, outros não possuem jeitos de configurar!</p>
<p>No nosso exemplo, iremos usar a <a href="https://loritta.website/">Loritta</a> (eu de novo! ;w;), para configurá-la, vá em <a href="https://loritta.website/dashboard">https://loritta.website/dashboard</a>, escolha o seu servidor e divirta-se!</p>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9989170954243288"
     data-ad-slot="5245234810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br style="clear: both" /> <!-- So dirty! -->
{% endblock %}